In [18]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020"

)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000027F5979D5C8>

In [19]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE sprint3")

DatabaseError: 1007 (HY000): Can't create database 'sprint3'; database exists

In [20]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:

  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('practicedatabase',)
('sakila',)
('sprint3',)
('sys',)
('testdb',)
('world',)

In [1]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE chips (barcode VARCHAR(255), price VARCHAR(255), size VARCHAR(255), quantity VARCHAR(255), product VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'chips' already exists

In [22]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:

  print(x)

('chips',)

In [23]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE chips ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [25]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE cooldrinks (barcode VARCHAR(255), price VARCHAR(255), size VARCHAR(255), quantity VARCHAR(255), product VARCHAR(255))")

In [26]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE cooldrinks ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [27]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE chocolate (barcode VARCHAR(255), price VARCHAR(255), size VARCHAR(255), quantity VARCHAR(255), product VARCHAR(255))")

In [28]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE chocolate ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [29]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE pies (barcode VARCHAR(255), price VARCHAR(255), size VARCHAR(255), quantity VARCHAR(255), product VARCHAR(255))")

In [30]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE pies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [31]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE cupcakes (barcode VARCHAR(255), price VARCHAR(255), size VARCHAR(255), quantity VARCHAR(255), product VARCHAR(255))")

In [32]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE cupcakes ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [33]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE veggies (barcode VARCHAR(255), price VARCHAR(255), size VARCHAR(255), quantity VARCHAR(255), product VARCHAR(255))")

In [34]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE veggies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [2]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE fruit (barcode VARCHAR(255), price VARCHAR(255), size VARCHAR(255), quantity VARCHAR(255), product VARCHAR(255))")

In [3]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Sim&Lazola2020",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE fruit ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")